@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: #ECEEEA;
}

.main-section {
    margin-top: 10vh;
    text-align: center;
}

/* ---------------------------------------- Cancel & Submit Buttons */ 

.buttons {
  background-color: #445043;
  border: none;
  color: #EFF1EE;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  margin: 5px;
  border-radius: 4px;
  text-transform: uppercase;
}

/* ----------------------------------------- Header & Navigation list */

nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #445043;
    position: fixed;
    top: 0;
}

.logo {
    letter-spacing: 3px;
    color: #EFF1EE;
    text-decoration: none;
}

.burger-menu {
    display: none;
}

.navigation-list {
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    letter-spacing: 1px;
}

.navigation-list li a {
    text-decoration: none;
    margin-right: 1rem;
    color: #EFF1EE;
}

.logo:hover, .navigation-list li a:hover, .buttons:hover {
    color:#7F917D;
}

.hero-image {
    background-image: url('/static/css/images/hero-image.jpg');
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ------------------------------------------------- Search form */ 

.user-search-form {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 5vh;}

#query {
    width: 80%;
    margin: auto;
}

/* ----------------------------------------------- Index site */ 

.welcome-info-boxes {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.welcome-info-boxes div {
    background-color: aliceblue;
    height: 30vh;
    width: 30%;
    border: 1px solid;
}
.welcome-info-boxes i {
    font-size: 4em;
    margin-top: 7.5vh;
    margin-bottom: 5vh;
    color: #000;
}

/* ---- Books Collection site */

.headline-book-collection {
    text-align: center;
    margin-top: 10vh;
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 2px 2px 8px;
}

.book-collection {
    background-color: #445043;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10vh;
}

.book-box {
    background-color: #7F917D;
    width: 30%;
    margin: 10px;
    border: 1px solid;
    text-align: center;
}

.image-and-text {
    display: flex; 
    align-items: center;
    justify-content: center;
}
.book-title {
    font-size: 24px;
    font-weight: 700;
}

.book-image {
    height: 35vh;
    margin: 10px;
}

.text {
    width: 50%;
}


.image-and-text {
    text-align: left;
}

.book-info-bold {
    font-weight: 600;
}

.heart-like {
    text-align: center;
    margin-top: 10px;
}

.like {
    color: gainsboro;
}

.heart i.fa-heart {
    color: lightcoral;
}

.book-box-description {
    align-items: center;
}

/* ---- Single Book View */ 

.single-book-box {
    background-color: #7F917D;
    width: 70%;
    margin: auto;
    margin-top: 20vh;
    border: 1px solid;
    text-align: left;
}

.single-image-and-text {
    display: flex; 
    justify-content: center;
}

.single-book-image {
    height: 70vh;
    margin: 5vh;
}

.single-text {
    width: 70%;
    font-size: 28px;
    margin-top: 5vh;
}

.single-heart-like {
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
}

.single-created-by {
    text-align: right;
    margin-top: 10px;
    font-size: 20px;
}

/* --- Add Book User Form */

.add-book-form {
    height: 40vh;
    width: 30%;
    margin: auto;
    display: block;
}

#book_category {
    width: 100%;
}

label, input, select, textarea {
    display: block;
    margin: 5px;
}

#book_name, #book_author, #book_description, #book_image_url {
    width: 100%;
}

/* ---- Categories site */ 

.main-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.category-box {
    width: 30%;
    background-color: aliceblue;
    text-align: center;
    margin: 10px;
}

/* ---- Registration and Login Form */

.registration-form {
    width: 20%;
    margin: auto;
}

#username , #password {
    width: 100%;
}

.user-book {
    width: 30%;
    margin: auto;
    background-color: #7F917D;
}

.profile-page {
    margin: 10vh;
}
/* ---- Footer */ 

footer {
    height: 7.5vh;
    width: 100%;
    margin-top: 5vh;
    background-color: #445043;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #EFF1EE;
    bottom: 0;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
}

footer ul li {
   
    list-style-type: none;
    text-decoration: none;
    margin-right: 2rem;
}

footer ul li a {
    color: #EFF1EE;
}

/* -------------------------------------------- Media Queries */ 

@media screen and (max-width:767px) {

body {
    font-size: 12px;
}
.logo {
    font-size: 12px;
}

.buttons {
    font-size: 12px;
}

.burger-menu {
    display: block;  
    margin-right: 1rem;
    color: #EFF1EE;
}

.navigation-list {
    position: fixed;
    background-color: #445043;
    top: 10vh;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    display: none;
}

.navigation-list li {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    background-color: #445043;
}
.welcome-info-boxes {
    display: block;
}

.welcome-info-boxes div {
    width: 60%;
    margin: auto;
    margin-top: 3vh;

}

footer {
    font-size: 12px;
}

footer ul li a {
    font-size: 1rem;

}
}