@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Noto Sans", sans-serif;
    background-color: #ECEEEA;
    min-height: 100%;
}

.main-section {
    margin-top: 10vh;
    text-align: center;
}

.flash {
    margin-top: 10vh;
}

/* ---------------------------------------- Cancel & Submit Buttons */ 

.buttons {
  background-color: #272C23;
  color: #fff;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  margin: 7.5px;
  box-shadow: 2px 2px 6px 0;
}

.reset-buttons {
  background-color: #272C23;
  color: lightcoral;
  padding: 10px 40px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  margin: 7.5px;
  box-shadow: 2px 2px 6px #000;
}

.book-buttons {
  background-color: #272C23;
  color: #fff;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  margin: 3px;
}

.buttons:hover, .reset-buttons:hover {
    color: #A4AB9F;
}

.button-box {
    display: flex;
    justify-content: space-evenly;
}

/* ----------------------------------------- Header & Navigation list */

nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272C23;
    position: fixed;
    top: 0;
}

.logo {
    letter-spacing: 3px;
    color: #EFF1EE;
    margin-left: 15px;
    text-decoration: none;
    font-size: 2vw;
    border-bottom: #A4AB9F 3px solid;
}

.burger-menu {
    display: none;
}

.navigation-list {
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    letter-spacing: 1px;
}

.navigation-list li a {
    text-decoration: none;
    margin-right: 1rem;
    color: #EFF1EE;
}

.logo:hover, .navigation-list li a:hover {
    color:#A4AB9F;
}

 /* -------------------------------------------------- Hero image and headlines */ 

.hero-image {
    background-image: url('/static/css/images/hero-image.jpg');
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.headline-main {
    font-size: 4vw;
    letter-spacing: 5px;
    text-shadow: 2px 2px 10px;
    margin-top: 5vh;
}

.headline-medium {
    font-size: 4vh;
    letter-spacing: 3px;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.headline-mini {
    font-weight: 700;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #A4AB9F;
}

/* ------------------------------------------------- Search form */ 

.user-search-form {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 5vh;}

#query {
    width: 80%;
    margin: auto;
}

/* ----------------------------------------------- Index site */ 

.welcome-info-boxes {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.welcome-info-boxes div {
    background-color: #fff;
    min-height: 40vh;
    width: 30%;
    border: 3px solid;
}

.welcome-info-boxes i {
    font-size: 4em;
    margin-top: 7.5vh;
    color: #000;
    margin-bottom: 2vh;
}

.welcome-info-boxes p {
    width: 80%;
    margin: auto;
}

/* --------------------------------------------- Books Collection site */

.book-collection {
    width: 95%;
    margin: auto;
    background-color: #A4AB9F;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 3px solid #000;
}

.book-box {
    width: 22%;
    margin: 3vh;
    background-color: #fff;
    border: 2px solid;
}

.book-image {
    height: 25vh;
    margin-top: 2vh;
}

.book-title {
    font-weight: 600;
    font-size: 20px;
}

/* ------------------------------------------ Single Book Page */ 

.single-book-box {
    background-color: #A4AB9F;
    width: 75%;
    margin: auto;
    margin-top: 20vh;
    border: 3px solid #000;
    text-align: left;
}

.single-image-and-text {
    display: flex; 
    justify-content: center;
}

.single-book-image {
    height: 70vh;
    margin: 3vh;
}

.single-text {
    width: 70%;
    margin: 3vh;
}

.single-book-title {
    font-weight: 700;
    font-size: 28px;
}

.single-book-category {
    font-size: 20px;
}

.single-created-by {
    font-size: 14px;
    margin-top: 5vh;
}

.single-book-description {
    margin: 0 0 15vh 0;
    font-size: 18px;
}

.single-book-edit-delete-section {
    width: 100%;
    margin: auto;
}

.comment-box {
    width: 75%;
    margin: auto;
    background-color: #A4AB9F;
    margin-top: 5vh;
    border: 3px solid #000;
}

.book-comment-section {
    margin-top: 3vh;
}

/* ---------------------------------------- Add & Edit Book User Form */

.add-edit-book-form {
    width: 40%;
    margin: auto;
    display: block;
    text-align: left;
}

label, input, select, option, textarea {
    display: block;
}

label {
    margin-top: 5vh;
}

#book_name, #book_author, #book_category, #book_image_url {
    width: 100%;
    height: 3vh;
}

#book_description, #book_comment {
    height: 20vh;
    width: 100%;
}

/* --------------------------------------- Categories site */ 

.main-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-top: 5vh;
}

.category-box {
    width: 30%;
    background-color:  #fff;
    text-align: center;
    margin: 15px;
}

/* -------------------------------------- Registration and Login Form */

.registration-form {
    width: 50%;
    margin: auto;
    margin-top: 10vh;
    text-align: left;
}

#username , #password, #confirm-password {
    width: 100%;
    height: 4vh;
    margin: auto;
}

.text-below-form {
    font-size: 12px;
    margin-top:1px;
}

.top-page-headline-section {
    margin: 10vh;
}

/* ------------------------------------------ Footer */ 

footer {
    height: 7.5vh;
    width: 100%;
    background-color: #272C23;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #EFF1EE;
    bottom: 0;
    margin-top: 10%;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
}

footer ul li {
    list-style-type: none;
    text-decoration: none;
    margin-right: 2rem;
}

footer ul li a {
    color: #EFF1EE;
}

/* -------------------------------------------- Media Queries */ 

@media screen and (max-width:767px) {

body {
    font-size: 12px;
}
.logo {
    font-size: 12px;
}

.buttons {
    padding: 5px 20px;
    font-size: 12px;
    margin: 5px;
}

.reset-buttons {
  padding: 5px 20px;
  font-size: 12px;
  margin: 5px;
}

.book-buttons {
  padding: 5px 20px;
  font-size: 12px;
  margin: 5px;
}

.burger-menu {
    display: block;  
    margin-right: 1rem;
    color: #EFF1EE;
}

.navigation-list {
    position: fixed;
    background-color: #445043;
    top: 10vh;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    display: none;
}

.navigation-list li {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    background-color: #445043;
}

.welcome-info-boxes {
    display: block;
}

.welcome-info-boxes div {
    width: 60%;
    margin: auto;
    margin-top: 3vh;
}

.book-collection {
    display: block;
}

.single-image-and-text {
    display: block;
    text-align: center;
}

.single-book-image {
    height: 25vh;
}

.main-categories {
    display: block;
}

.category-box {
    width: 80%;
    margin: auto;
    margin-top: 5vh;
}

.book-box {
    width: 70%;
    margin: auto;
    margin-top: 2vh;
}

footer {
    font-size: 12px;
}

footer ul li a {
    font-size: 1rem;
}
}