{% extends "base.html" %}
{% block content %}

<form method="POST" action="{{ url_for('add_book') }}">
    <label for="book_name">Name of Book</label>
    <input type="text" name="book_name" id="book_name">
     <label for="book_author">Name of Author</label>
    <input type="text" name="book_author" id="book_author">
    <select>
    <option value="" disabled >Category</option>
    {% for category in categories %}
    <option value="{{ category.book_category }}">{{ category.book_category }}</option>
    {% endfor %}
    </select>
     <label for="book_description">Tell us more about the book</label>
    <textarea type="text" name="book_name" id="book_description"></textarea>
    <input type="submit" value="Submit">
</form>

{% endblock %}