{% extends "base.html" %}
{% block content %}
<section>

    <div class="single-book-box">
        <div class="single-image-and-text">
            <span>
                <img class="single-book-image" src="{{ book.book_image_url }}">
            </span>
            <span class="single-text">
                <p class="book-info-bold">{{ book.book_name }}</p>
                <p>{{ book.book_author }}</p>
                <p>About this book:</p>
                <p>{{ book.book_description }}</p>
            </span>
        </div>
        {% if session.user %}
        <p class="single-created-by">
            Added by: {{ book.created_by }}
        </p>
        {% endif %}
    </div>
</section>

{% endblock %}