{% extends "base.html" %}
{% block content %}
<section class="main-section">
    <div class="hero-image"></div>

    <div class="user-search-form">
        <form action="{{ url_for('search')}}" method="POST">
            <label for="query">Search our book collection</label>
            <input type="text" name="query" id="query" minlength="3" required>

            <a class="buttons" href="{{ url_for('books') }}">Reset</a>
            <input class="buttons" type="submit" value="Search">


        </form>

    </div>
    <h1 class="headline-book-collection">Our Book Collection</h1>

    <div class="book-collection">
        {% for book in books %}
        <div class="book-box">
            <div class="image-and-text">
                <span>
                    <img class="book-image" src="{{ book.book_image_url }}">
                </span>
                <span>
                    <p>Book: {{ book.book_name }}</p>
                    <p>Author: {{ book.book_author }}</p>
                    <p>Category: {{book.book_category }}</p>
                    <p>About the book: {{ book.book_description }}</p>
                    <p>Created by: {{ book.created_by }} </p>
                </span>
            </div>
            <span>
                {% if session.user | lower == book.created_by | lower %}
                <a class="buttons" href="{{ url_for('edit_book', book_id=book._id) }}">Edit Book</a>
                <a class="buttons" href="{{ url_for('delete_book', book_id=book._id) }}">Delete Book</a>
            </span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}