{% extends "base.html" %}
{% block content %}

 <section>
<a class="buttons" href="{{ url_for('add_category') }}"><h1>Add New Category</h1></a>
   <div class="main-categories">
{% for category in categories %}
<div class="category-box">
    <p><h2>{{ category.book_category }}</h2></p>
    <p><a class="buttons" href="{{ url_for('edit_category', category_id=category._id) }}">Edit Category</a>
     <a class="buttons" href="{{ url_for('delete_category', category_id=category._id) }}">Delete Category</a></p>
</div>
{% endfor %}
</div>
 </section>

{% endblock %}