{% extends "base.html" %}
{% block content %}

<div class="add-book-form">
<form method="POST" action="{{ url_for('edit_category', category_id=category._id) }}">
    <label for="book_category">Edit Category</label>
    <input value="{{ category.book_category }}" type="text" name="book_category" id="book_category" minlength="3" maxlength="20" required>
    
        <a class="buttons" href="{{ url_for('books') }}">Cancel</a>
        <input class="buttons" type="submit" value="Submit">
       
</form>
</div>

{% endblock %}