{% extends "base.html" %}
{% block content %}


    <section class="book-collection">
        {% for book in books %}
        <div class="book-box">
          
            <div class="image-and-text">
                <span>
                    <img class="book-image" src="{{ book.book_image_url }}">
                </span>
                <span class="text">
                    <p class="book-title"> {{ book.book_name }}</p>
                    <p>By </p><p class="book-info-bold">{{ book.book_author }}</p>
                    <p class="book-info-bold"><a href="{{ url_for('show_category') }}">{{ book.book_category }}</a></p>
                   
                    <p>Added by: {{ book.created_by }} </p>
                    {% if session.user %}
                    <p class="heart-like">
                    <a href="{{ url_for('like_book', book_id=book._id) }}" class="like"><i class="fa fa-heart" aria-hidden="True"></i></a>
                    {{ book.likes }} like this book
                    </p>
                
                    {% endif %}
                </span>
            </div>
            <div>
                 <a class="buttons" href="{{ url_for('book', book_id=book._id) }}">View More...</a>
            </div>
            <span>
                {% if session.user | lower == book.created_by | lower %}
                <a class="buttons" href="{{ url_for('edit_book', book_id=book._id) }}">Edit Book</a>
                <a class="buttons" href="{{ url_for('delete_book', book_id=book._id) }}">Delete Book</a>
            </span>
            {% endif %}
        </div>
        {% endfor %}
    </section>

{% endblock %}